@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  background: #d8bfd8;

}

h1 {
  padding-top: 20px;
  color: white;
}


/*ISHWAR MHASE*/